*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
.container{
    padding: 0 180px;
}
/* .container {
  width: 1440px;
  height: 98.28px; 
  display: flex; 
  justify-content: space-between;
  padding: 24px 135px;
  transform: rotate(0deg); 
  opacity: 1;
} */

.wrapper{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 21%;
}

.logo{
    color:#36B864 ;
   
    font-family: 'Be Vietnam Pro', sans-serif;
}

.list{
    display: flex;
    justify-content:space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    /* padding-top: 20px; */
    /* padding-bottom: 50px; */
    gap: 40px;
    color: #4D4D4D;
}


.list li a:hover {
  color: #36B864;
 
}


.activeNavbar {
  color: #36B864;
  
}


a{
    padding: 8px;
}

.navbut{
 width: 159px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  gap: 10px;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 6px;
  color: white; 
  cursor: pointer;
  background-color: #36B864;

}